body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.btn-group-vertical{
    margin-top: 10px;
    margin-right: 20px !important;
}
.btn-group-vertical #closebtn:hover{
    background-color: red;
}

.myblock{
    border: 2px solid black;
}